@name: .PETable;

@{name}{
  --color-boder: #e6ebf1;
  --color-th: #111720;
  --font-size-th: 12px;
  --font-size-td: 12px;
  --font-weight-th: 700;
  --padding-th: 11px 16px;
  --padding-td: 9px 16px;
  --round-radius: 6px;
  --bg-thead: #f1f3f6;
  --bg-cell: #fff;
  --scroll-bg: #f6f6f6;
  --scroll-fg: #d0d0d0;

  overflow: auto;
  // Safari 垂直溢出时小 1px
  padding-bottom: 1px;

  * {
    box-sizing: border-box;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
  } 

  // &::-webkit-scrollbar-thumb {
  //   background: var(--scroll-fg);
  //   border: 1px solid var(--scroll-bg);
  // }

  // &::-webkit-scrollbar {
  //   width: 10px;
  //   height: 10px;
  //   background-color: var(--scroll-bg);
  // }

  &-full-width{
    border: 1px solid var(--color-boder);

    &-groupview{
      .PE-header-round .PE-header-row-first .PE-header-col-last,
      .PE-Body-round .PE-Body-row-last .PE-Body-col-last,
      .PE-header-round .PE-header-row-first .PE-header-col-first,
      .PE-Body-round .PE-Body-row-last .PE-Body-col-first{
        border-radius: 0;
      }
      
      .PE-header{
        background-color: var(--bg-thead);
      }

      .PE-header-row-first{
        th{
          border-top: 0;
        }
      }
      .PE-header-row-last{
        th{
          border-bottom: 0;
        }
      }
    }

    .PE-header-round .PE-header-row-first .PE-header-col-last,
    .PE-Body-round .PE-Body-row-last .PE-Body-col-last,
    .PE-header-round .PE-header-row-first .PE-header-col-first,
    .PE-Body-round .PE-Body-row-last .PE-Body-col-first{
      border-radius: 0;
    }
    
    .PE-header{
      background-color: var(--bg-thead);
      border-bottom: 1px solid var(--color-boder);
    }
    .PE-header-row-first{
      th{
        border-top: 0;

      }

    
    }
    .PE-header-col-first{
      border-left: 0;
    }
    .PE-header-row-last{
      th{
        border-bottom: 0;
      }      
    }
    .PE-header-col-last-in-last-row{
      border-bottom: 0;
    }

    .PE-Body-col-first{
      border-left: 0;
    }
    .PE-Body-row-last{
      td{
        border-bottom: 0;
      }
    }
    .PE-Body-empty{
      border-bottom: 0;
      border-radius: 0;
    }
  }

  &-lock-mask{
    position: absolute;
    // safari 
    top: 1px;    
    bottom: 1px;
    overflow: hidden;
    pointer-events: none;
    z-index: 4;

    &-left {
      left: 0;

      &-shadow{
        height: 100%;
        box-shadow: rgba(153,153,153,0.5) 0 0 6px 2px;
        margin-right: 10px;
        border-right: 1px solid var(--color-boder);
      }
    }

    &-right {
      right: 0;

      &-shadow{
        height: 100%;
        box-shadow: rgba(153,153,153,0.5) 0 0 6px 2px;
        margin-left: 10px;
        border-left: 1px solid var(--color-boder);
      }
    }
  }

  &-resize-bar{
    position: fixed;
    top: 0;
    height: 0;
    width: 0;
    border-left: 1px solid #0052f2;
    z-index: 10;
    display: none;
  }

  &-round{
    border-radius: var(--round-radius);
  }

  &-no-event{
    pointer-events: none;
  }
}
